html {
    margin: 0;
    padding: 0;
}

 body {
     margin: 0;
     padding: 0;

     font-family:"PT Sans Narrow", Arial, sans-serif;
     font-size: 14px;
     line-height: 24px;
     font-weight: 700;
     color: #ffffff;
     text-transform: uppercase;

     background-color: #000000;
     background-image: url("./img/background picture.jpg");
     background-repeat: no-repeat;
     background-position: top center;
 }

 .inner-page {
     color: #000000;

     background-color: #f8f5f2;
     background-image: url("./img/noisy background.jpg");
     background-position: 0 0;
     background-repeat: repeat;
 }

 .inner-page h1 {
     font-size: 30px;
     line-height: 42px;
 }

 .inner-page h3 {
     font-size: 24px;
     line-height: 30px;
 }

 a {
     text-decoration: none;
 }

 .button {
     font-size: inherit;

     color: #ffffff;
     text-align: center;
     vertical-align: middle;
     text-transform: uppercase;

     background-color: #000000;
     border: none;
 }

 .breadcrumbs {
     list-style: none;
 }

 .breadcrumbs a {
     color: #000000;
 }

.breadcrumbs li:last-child {
    color: #aba9a7;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}

 .button:hover,
 .button:focus,
 .button:active {
     background-color: #663d15;
 }

 .main-navigation {
     font-size: 16px;
     line-height: 20px;
     color: #ffffff;

     background-color: #000000;
 }

 .cite-navigation,
 .user-navigation {
     list-style: none;
 }

 .cite-navigation a,
 .user-navigation a {
     color: #ffffff;
 }

 .cite-navigation:hover,
 .cite-navigation:focus,
 .user-navigation:hover,
 .user-navigation:focus {
     background-color: #242424;
 }

 .features-list {
     list-style: none;
 }

 .feature-item{
    text-align: center;
 }

 .feature-item h3{
     font-size: 30px;
     line-height: 42px;
 }

.index-columns {
    color: #000000;

    background-color: #f8f5f2;
    background-image: url("./img/noisy background.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.index-columns h2 {
    font-size: 30px;
    line-height: 42px;
}

.news-list {
  list-style: none;
}

.news-item time {
    text-transform: none;
}

.gallery-content {
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.appoitment-item input {
    font: inherit;

    background-color: transparent;
    border: 2px solid #000000;
}

.appoitment-item input:focus {
    border-color: #663d15;
    outline: none;
}

.filter ul {
    list-style: none;
    line-height:  18px;
}

.filter legend {
    font-size: 24px;
    line-height: 30px;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #663d15;
}

.filter-input:disabled + label {
    color: #000000;

    opacity: 0.5;
}

.filter fieldset {
    border: none;
}

.pagination-list {
    list-style: none;
}

.pagination-item a {
    color: #ffffff;

    background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    background-color: #663d15;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: #000000;
    background-color: #ffffff;
}

.product-photo-prewiev {
    list-style: none;
}

.product-photo-prewiev li {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-full {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-article {
    text-align: right;
    color: #aeaeae;
}

 .product-price b {
     text-align: center;

     background-color: #e5e5e5;
 }

 .catalog-item b {
     line-height: 18px;
     text-align: center;

     background-color: #e5e5e5;
 }

 .catalog-item .button {
     line-height: 18px;
     color: #ffffff;
 }

.product-info ul {
    list-style: none;
}

.catalog-list {
    list-style: none;
}

.catalog-item {
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
    color: #000000;
}

.catalog-item h3 {
    font-size: 14px;
    line-height: 18px;
}

.catalog-category {
    text-transform: none;
}

.promo-price {
    font-size: 48px;
    line-height: 48px;
}

.section-price h2 {
    font-size: 30px;
    line-height: 42px;
}

.table-price {
    border-collapse: collapse;
}

.section-price-list {
    list-style: none;
}

.table-price td{
    border: 2px solid #000101;
}

.main-footer {
    color: #ffffff;

    background-color: #212121;
    background-image: url("/.img/pattern-dark.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    text-align: center;
}

.footer-social {
    list-style: none;
}

.social-button {
    color: #ffffff;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;

    background-color: #ffffff;
}


.modal {
    color: #000000;

    background-color: #f8f3f0;
    background-image: url("./img/noisy background.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;

    background-color: transparent;
    border: 2px solid #000000;
}

.login-form input:focus {
    border-color: #663d15;
    outline: none;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

.login-form a {
    color: #000000;
    text-decoration: underline;
}

.login-form a:hover,
.login-form a:focus {
    text-decoration: none;
}
