html {
    margin: 0;
    padding: 0;
}
 body {
     margin: 0;
     padding: 0;

     font-family:"PT Sans Narrow", Arial, sans-serif;
     font-size: 14px;
     line-height: 24px;
     font-weight: 700;
     color: #ffffff;
     text-transform: uppercase;

     background-color: #000000;
     background-image: url("./img/background picture.jpg");
     background-repeat: no-repeat;
     background-position: top center;
 }
 a {
     text-decoration: none;
 }
 .main-navigation {
     font-size: 16px;
     line-height: 20px;
     color: #ffffff;

     background-color: #000000;
 }
 .cite-navigation,
 .user-navigation {
     list-style: none;
 }
 .cite-navigation a,
 .user-navigation a {
     color: #ffffff;
 }
 ul {
     margin: 0 20px;
     padding: 0;
     list-style: none;
 }

 h1 {
     margin: 36px 0;
     font-size: 36px;
     line-height: 42px;
 }
h2 {
    margin: 24px 0;
    font-size: 24px;
    line-height: 28px;
}
h1 {
    margin: 18px 0;
    font-size: 18px;
    line-height: 20px;
}






/*
.cite-navigation {
    background-color: #000000;
}

.main-footer {
    background-color: #252525;
}

.main-body {
    background-image: url("./img/background picture.jpg");
    background-repeat: no-repeat;
}

.index {
    background-image: url("./img/noisy background.jpg");
}

 */